<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Login page</title>
</head>
<body>
<main layout:fragment="body">
    <section>
        <form th:action="@{/login}" method="post">
            <div><input type="text" name="email" placeholder="Username"/>
            </div>
            <div>
                <input type="password" name="password" placeholder="Password"/>
            </div>
            <input type="submit" value="Log in"/>
        </form>
    </section>
</main>
</body>
</html>