<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Create Portfolio</title>
</head>
<body>
<main layout:fragment="body">
    <section>
        <div class="container text-white">
            <h1>Create Portfolio</h1>
            <form th:action="@{/portfolio/createPortfolio}" method="post" th:object="${portfolio}">
                <div class="mb-3">
                    <label for="ticker" class="form-label">Stock Ticker:</label>
                    <input type="text" id="ticker" name="ticker" class="form-control" required>
                </div>
                <div class="mb-3">
                    <label for="amount" class="form-label">Amount:</label>
                    <input type="number" id="amount" name="amount" class="form-control" required>
                </div>
                <div class="mb-3">
                    <label for="date" class="form-label">Amount:</label>
                    <input type="date" id="date" name="date" class="form-control" required>
                </div>
                <button type="submit" class="btn btn-primary">Add Stock</button>
            </form>
        </div>
    </section>
</main>
</body>
</html>