<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet"/>
    <link th:href="@{/css/styles.css}" rel="stylesheet">
    <title layout:title-pattern="CONTENT_TITLE - LAYOUT_TITLE">InvestmentTracker</title>
</head>
<body>
<header th:replace="~{fragments/header :: TrackerHeader}"></header>
<main layout:fragment="body"></main>
<div th:replace="~{fragments/footer :: footer}"></div>

<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->
<script src="js/scripts.js"></script>
</body>
</html>